<h1>About Us</h1>
<p> Entrepartner.Org started as a new place for people of all kinds of backgrounds can come together and form startup teams. Forming a team is the most important part of building a startup!

This is where you'll find tons of people with amazing expertise so you can fit all the puzzle pieces correctly to make your next blockbuster company!</p>